{% for pc in port_channels | default([]) %}
interface Port-channel{{ pc.id }}
 no shutdown
{% if pc.encapsulation is defined %}
 switchport trunk encapsulation {{ pc.encapsulation }}
{% endif %}
 switchport mode {{ pc.mode }}
{% endfor %}

{% for intf in interfaces %}
interface {{ intf.name }}
 no shutdown
{% if intf.encapsulation is defined %}
 switchport trunk encapsulation {{ intf.encapsulation }}
{% endif %}
{% if intf.mode is defined %}
 switchport mode {{ intf.mode }}
{% endif %}
{% if intf.access_vlan is defined %}
 switchport access vlan {{ intf.access_vlan }}
{% endif %}
{% if intf.trunk_vlans is defined %}
 switchport trunk allowed vlan {{ intf.trunk_vlans }}
{% endif %}
{% if intf.channel_group is defined %}
 channel-group {{ intf.channel_group.id }} mode {{ intf.channel_group.mode }}
{% endif %}
{% if intf.ip_address is defined and intf.subnet_mask is defined %}
 ip address {{ intf.ip_address }} {{ intf.subnet_mask }}
{% endif %}
{% endfor %}
