{% for vlan in vlans | default([]) %}
interface Vlan{{ vlan.id }}
 no shutdown
{% if vlan.ip_address is defined and vlan.subnet_mask is defined %}
 ip address {{ vlan.ip_address }} {{ vlan.subnet_mask }}
{% endif %}
{% if vlan.description is defined %}
 description {{ vlan.description }}
{% endif %}
{% endfor %}
